// COLORS

// DARK TONES
$black: black;
$oneofdark: #101315;
$light-dark: #2e2e2e;

// LIGHT TONES
$white: #ffffff;
$light-white: #f7f7f7;
$smoke-white: #dedede;
$oneofwhite: #efefef;
$milk-white: #fcfcfc;

// SMOKE TONES
$light-gray: #768088;
$oneofgrey: #999999;
$smoky: #817F83;

// COLORFULL
$orangy: #dd783f;

// FONTS
$Oxygen: "Oxygen", "Arial", sans-serif;
$Lora: "Lora", "Arial", sans-serif;
$Roboto: "Roboto", "Arial", sans-serif;
